   h1 {
        font-size: 65px;
    }

    h2 {
        font-size: 45px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    @media(min-width:768px) {
        h1 {
            font-size: 100px;
        }
        h2 {
            font-size: 55px;
        }
        h3{
            font-size: 28px;
        }
        h4{
            font-size:28px;
        }
    }
   
   
    h2 {
        text-align: center;

    }
     .container {
        padding: 10px;
    }